#content-div {
    float: center;
}

#startup-div {
    margin: auto;
    text-align: center;
    width: 200px;
}

#startup-div > label {
    font-size: 20px;
    width: 100%;
}

#game-div-guesser {
    display: none;
}

#game-div-mastermind {
    display: none;
}

#create-game-div {
    margin: auto;
    text-align: center;
    display: none;
}

#game-name {
    border: none;
    width: fit-content;
}

#pvai-setup-div {
    margin: auto;
    text-align: center;
    display: none;
}

#pvp-setup-div {
    margin: auto;
    text-align: center;
    display: none;
}

#game-id {
    margin-top: 30px;
}

#new-game-button {
    margin-bottom: 20px;
}