#content-div {
    float: center;
}

#startup-div {
    margin: auto;
    text-align: center;
    width: 300px;
}

#startup-div > label {
    font-size: 20px;
    width: 100%;
}

#game-div-mastermind, #game-div-guesser {
    display: none;
    margin: auto;
    background-color: #919191;
    width: 25%;
    padding-top: 5px;
    padding-bottom: 1px;
}

.rows-div {
    height: 89%;
}

#g-guesses-div {
    float: right;
}

#g-results-div {
    margin-left: 10px;
}

#m-results-div {
    float: right;
}

#m-guesses-div {
    margin-left: 10px;
    margin-top: 7px;
}

#m-code-div {
    margin-left: 10px;
}

.guesses-div {
    width: 70%;
    height: 85%;
}

.results-div {
    width: 25%;
    height: 88%;
}

.guesses-div > div {
    height: 9%;
    margin-bottom: 12px;
}

.results-div > div {
    display: block;
    height: 9%;
    margin-bottom: 10px;
}

.results-div > div > button {
    width: 32%;
    height: 45%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.guesses-div > div > button {
    width: 22%;
    height: 100%;
    margin-right: 4px;
}

.code-button {
    width: 22%;
    height: 65%;
    margin-right: 4px;
}

.results-div > div > button, .guesses-div > div > button, .code-button {
    background-color: rgb(194, 194, 194);
}

.code-div {
    width: 100%;
    height: 13%;
}

.action-div {
    width: 120px;
    margin: auto;
    text-align: center;
}

#color-bw-div {
    height: 40px;
}

#color-all-div {
    height: 200px;
}

#color-all-div, #color-bw-div {
    width: 60px;
    position: absolute;

    margin: auto;
    vertical-align: center;

    animation-duration: 0.5s;
    animation-direction: alternate;
    opacity: 1;
}

#color-all-div > button, #color-bw-div > button {
    width: 50px;
    height: 50px;
}

@keyframes color-popup-right {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes color-popup-left {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

#search-game-div {
    display: none;
    width: 80%;
    margin: auto;
    text-align: center;
}

#search-game-div > div {
    margin-top: 30px;
}

#game-list {
    list-style: none;
}

.search-result-div {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    column-count: 7;
    column-rule-style: solid;
    column-rule-color: black;
    column-rule-width: 2px;
}

#create-game-div {
    margin: auto;
    text-align: center;
    display: none;
}

#game-name {
    border: none;
    width: 150px;
    font-size: 18px;
}

#edit-game-name {
    text-align: center;
    float: right;
}

#pvai-setup-div {
    margin: auto;
    text-align: center;
    display: none;
}

#pvp-setup-div {
    width: 230px;
    margin: auto;
    text-align: center;
    display: none;
}

#game-id {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

#status-text {
    margin-top: 20px;
    font-style: italic;
    font-size: 16px;
}

#new-game-button {
    margin-bottom: 20px;
}