#content-div {
    margin-top: 40px;
    float: center;
}

#startup-div {
    margin: auto;
    text-align: center;
    width: 300px;
}

#startup-div > label {
    font-size: 20px;
    width: 100%;
}

.padding {
    margin-bottom: 20px;
}

#game-div {
    display: none;
    position: relative;
    z-index: 2;
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    -moz-height: fit-content;
}

#game-div-mastermind, #game-div-guesser {
    display: none;
    border-style: solid;
    position: relative;
    z-index: 2;
    border-color: black;
    background-color: #919191;
    padding-top: 5px;
    padding-bottom: 1px;
    margin-bottom: 10px;

    width: fit-content;
    width: -moz-fit-content;
    height: inherit;
}

#g-guesses-div {
    float: right;
    margin-right: 10px;
}

#g-results-div {
    margin-left: 10px;
}

#m-results-div {
    float: right;
}

#m-guesses-div {
    margin-left: 10px;
    margin-top: 7px;
}

#m-code-div {
    margin-left: 10px;
}

.guesses-div > div {
    margin-bottom: 12px;
}

.results-div {
    width: 20%;
    font-size: 0;
}

.results-div > div {
    display: block;
}

.results-div > div > button {
    margin-right: 1px;
}

.guesses-div > div > button {
    margin-right: 4px;
}

.code-button {
    margin-right: 4px;
}

.results-div > div > button, .guesses-div > div > button, .code-button {
    background-color: rgb(194, 194, 194);
}

#g-code-div {
    height: 90px;
}

#m-code-div {
    vertical-align: bottom;
}

.code-div {
    display: inline-block;
    position: relative;
    margin: auto;
    height: 70px;
}

#action-div {
    width: 120px;
    margin: auto;
    text-align: center;
}

#color-bw-div {
    left: 100%;
    right: 0%;
}

#color-all-div, #color-bw-div {
    width: 60px;
    position: absolute;
    border-style: outset;
    background-color: gray;
    display: none;

    z-index: 0;

    top: 0; bottom: 0;
    margin: auto;
    vertical-align: center;

    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#color-all-div > button, #color-bw-div > button {
    width: 50px;
    height: 50px;
}

@keyframes color-popup-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes color-popup-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#search-game-div {
    display: none;
    width: 100%;
    margin: auto;
    text-align: center;
}

#search-game-div > div {
    margin-top: 30px;
}

#game-list {
    list-style: none;
    margin: 0 20px;
}

.search-result-div {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    column-count: 8;
    column-rule-style: solid;
    column-rule-color: black;
    column-rule-width: 2px;
}

#create-game-div {
    margin: auto;
    text-align: center;
    display: none;
}

#game-name {
    border: none;
    width: 150px;
    font-size: 18px;
}

#edit-game-name {
    text-align: center;
    float: right;
}

#game-setup-div {
    width: 230px;
    margin: auto;
    text-align: center;
    display: none;
}

#game-id {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

#status-text {
    margin-top: 20px;
    font-style: italic;
    font-size: 16px;
}

#play-button {
    margin-right: 5px;
}

#new-game-button {
    margin-bottom: 20px;
}

#game-over-div {
    position: absolute;
    width: 400px;
    left: 0; right: 0;
    margin: auto;
    text-align: center;

    color: black;
    background-color: rgb(111, 194, 219);
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    display: none;
    z-index: 2;
}

#over-header {
    font-size: 35px;
}

#over-subheader {
    font-size: 30px;
}

#your-iq {
    font-size: 25px;
    font-style: italic;
    color: red;
}

#iq-process-div {
    position: relative;
    height: 20px;
    width: 0;
    background-color: blue;
    margin-bottom: 20px;
    border-style: solid;
    border-color: black;
}